Source: redmine-plugin-timesheet
Section: web
Priority: extra
Maintainer: Enrico Weigelt, metux IT service <weigelt@metux.de>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7)

Package: redmine-plugin-timesheet
Architecture: all
Pre-Depends: debconf
Depends: redmine-core,
	 ${misc:Depends}
Description: Redmine plugin: global timesheet reports
